<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GetThatBadge Chat</title>

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Almarai:wght@800&amp;family=Nunito+Sans&amp;display=swap" />
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
</head>

<body>

  <div class="container">
    <div class="content">
      <p>No access.
      </p>

  </div>
</body>

</html>
